# Machine-specific

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*~

# Generated presentation media
alp-explainer/images/*
alp-explainer/audio/*
alp-explainer/video/*
!alp-explainer/images/.gitkeep
!alp-explainer/audio/.gitkeep
!alp-explainer/video/.gitkeep
